@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
main{
    color: black;
}

.zona1{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../imgs/wallpaper-bu-puerto.jpg);
  background-size: cover;
  background-position: center center;
}

.zona1 div{
  color: white;
  text-align: center;
  padding-top: 300px;
}

.zona1 div h1{
  
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zona1 div p{
  padding-top: 15px;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.zona2{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../imgs/wallpaper-bu-puerto.jpg);
  background-size: cover;
  background-position: center center;
}

.zona2 div{
  color: white;
  text-align: center;
  padding-top: 300px;
}

.zona2 div h1{
  
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zona2 div p{
  padding-top: 15px;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.zona3{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../imgs/wallpaper-bu-puerto.jpg);
  background-size: cover;
  background-position: center center;
}

.zona3 div{
  color: white;
  text-align: center;
  padding-top: 300px;
}

.zona3 div h1{
  
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zona3 div p{
  padding-top: 15px;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}






.presentacion{
  text-align: center;
  padding: 4em;
  padding-top: 6em; 
  font-family: 'Open Sans', sans-serif;
}

.carta-presentacion{
  display: flex;
  border-radius: 10px;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: rgb(246, 246, 246);
  justify-content:center;
}

.carta-presentacion section{
  margin: 20px;
}

.carta-presentacion section h3{
  text-align: center;
}

.btn-index{
  margin: 10px;
  padding: 10px;
}

.btn-titulo{
  padding-bottom: 2px;
}

.btn-titulo:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .4s;
}

.btn-titulo:hover:after {
  width: 40%;
  background: #333;
   
}

.contenedor {
  position: relative;
  height: 300px;
  width: 400px;
  overflow: hidden;
}

.elemento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.elemento.activo {
  opacity: 1;
}