/* Galeria */

.galeria{
    margin: 30px;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}
.galeria img{
    border-radius: 10px;
}
.galeria h1{
    padding: 20px;
}

.foto{
    margin:auto;
    max-width: 100%;
    padding: 0 4px;
    padding:10px;
}

.foto img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(50%);
    transition: all .3s ease;
}

.foto img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    box-shadow: 0 0 9px rgba(0, 0, 0, .5);
    transform: scale(0.9);
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden; 
    opacity: 0;
}

.overlay .slideshow{
    width: 90%;
    height: 90%;
    background-color: #1f1f1f9a;
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
}

.slideshow img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn_cerrar{
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all .2s ease;
}

.btn_cerrar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.botones{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(248, 248, 248);
}

.botones:hover > i{
    transform: scale(1.1);
    transition: all .2s ease;
}

.atras{
    left: 20px;
}

.adelante{
    right: 20px;
}

.mdi{
    pointer-events: none;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:800px){
    .foto{
        flex: 50%;
        max-width: 50%;
    }
    .botones{
        font-size: 55px;
    }
    .atras{
        left: 5px;
    }
    .adelante{
        right: 5px;
    }
    .slideshow img{
        width: 98%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
    .foto{
        flex: 100%;
        max-width: 100%;
    }
}

.loa{
    width: 50%;
    margin:auto;
}